@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope', sans-serif;
    color: #FFF;
    background: var(--body-bg);
}

a {
    color: unset;
    text-decoration: none;
}


:root {
    --gradient: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --body-bg: #040C18;
}

::-webkit-scrollbar {width: 7px}
::-webkit-scrollbar-track {background-color: #002853}
::-webkit-scrollbar-thumb {background-color: #FF4820}

.grad__dash {
    position: relative;
}
.grad__dash::before { 
    content: '';
    background-image: var(--gradient);
    position: absolute;
    width: 38px;
    height: 3px;
    left: 0;
    top: -7px;
}

@media (min-width: 640px) {}

@media (min-width: 768px) {
    :root {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}